[submodule "auth-microservice"]
	path = auth-microservice
	url = https://github.com/KevinManzano5/auth-microservice.git
[submodule "movies-microservice"]
	path = movies-microservice
	url = https://github.com/KevinManzano5/movies-microservice.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/KevinManzano5/gateway.git
